.row-padding{
    padding-top:20px;
}
.create-icon {
  background-color: #FAA727 !important;
  width: 29px;
  padding: 2px;
}
.image-direction {
  direction: rtl;
  padding: 0px;
}
@media (min-width: 576px) {
  .col-csm-1 {
    width: 3.333333% !important
  }
}
@media (max-width: 410px) {
  .image-width {
    width: 312px !important
  }
}
