a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.nav.navbar-nav.navbar-right li a {
  color: white !important;
 
}
.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
  direction: rtl;
  height: 40px;
}

.nav-link {
  color: black !important;
}

.navbar-light .navbar-brand {
  color: white !important;
}

.navbar-nav > .active > a {
  color: white !important;
  background-color: #484848 !important;
  font-weight: bold !important;
}
 
.bg-dark {
  --bs-bg-opacity: 1;
  background-color: #FAA727 !important;
}
.sidebar {
  margin: 0;
  padding: 0;
  width: 250px;
  background-color: #353847 !important;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: white;
  padding: 16px;
  font-family: "segoe UI";
  font-weight: 600;
  text-decoration: none;
  font-size: 9pt;
}

.sidebar a.active {
  background-color: #2a2a2a;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
  width: 250px;
}

div.content {
  margin-left: 251px;
  padding: 1px 16px;
  height: 400px;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }

  .sidebar a {
    float: left;
  }

  div.content {
    margin-left: 0;
  }
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}
.myMedical-Claim-text{
    width:250px!important;
    color:white;
    font-weight:400!important;
}
.medical-icon {
  color: white !important;
  padding-right: 15px !important;
  transform: scale(1.5);
  width:40px;
}
