<div class="container-fluid">
  <nav id="airline-header" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <div class="navbar-brand"> </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button><div class="myMedical-Claim-text">myMedical Claim</div>
      <div class="collapse navbar-collapse" id="navbarNav">

        <ul class="navbar-nav panel_txt">
          <li class="nav-item nav-padding" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
true}">
            <a class="nav-link" [routerLink]="['/viewairlines']">View/Modify </a>
          </li>
          <li class="nav-item nav-padding" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
true}">
            <a class="nav-link" [routerLink]="['/deleteairline']">Statement </a>
          </li>
          <li class="nav-item nav-padding" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
true}">
            <a class="nav-link" [routerLink]="['/createdomiciliary']">Create </a>
          </li>
          <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
true}">
            <a class="nav-link" [routerLink]="['/createairline']">About</a>
          </li>
        </ul>

      </div>
    </div>
  </nav>
   
  <div class="sidebar">
    <a class="panel_txt" [routerLink]="['/createdomiciliary']" routerLinkActive="active"><i class="material-icons medical-icon">medical_services</i>Mas Claim</a>
    <a class="panel_txt" href="#news" routerLinkActive="active"><img src="assets/umbrella.png" alt="Open" class="umbrella--icon"    />Medical Insurance Claim</a>
    
     
  </div>

  <div class="content">
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
