<div class="container">
  <h1>Update airline information</h1>
  <div class="alert alert-warning" role="alert" *ngIf="isExist">
    Airline records not exists.
  </div>
  <form [formGroup]="airlineForm" (ngSubmit)="updateAirline()">
    <div class="form-group">
      <div class="row row-padding">
        <div class="col-4">Provider Name</div>
        <div class="col-4">
          <input type="text" class="form-control" maxlength="10" id="providerName" formControlName="providerName"
                 [matAutocomplete]="autoName">
          <mat-autocomplete autoActiveFirstOption #autoName="matAutocomplete">
            <mat-option *ngFor="let option of allAirlines" [value]="option.providerName"  >
              {{option.providerName}}
            </mat-option>
          </mat-autocomplete>
           
        </div>
        <div *ngIf="f.providerName.touched && f.providerName.invalid" class="alert alert-danger">
          <div *ngIf="f.providerName.errors && f.providerName.errors.required">Provider Name is required.</div>
          <div *ngIf="f.providerName.errors && f.providerName.errors.pattern">Enter only alphabet.</div>
        </div>
      </div>
      <div class="row row-padding">
        <div class="col-4">Provider Code</div>
        <div class="col-4">
          <input type="text" class="form-control" maxlength="3" id="providerCode" formControlName="providerCode" (click)="getProviderCode()" [matAutocomplete]="autoCode">
          <mat-autocomplete autoActiveFirstOption #autoCode="matAutocomplete" >
            <mat-option *ngFor="let option of filterCodeAirline" [value]="option" >
              {{option}}
            </mat-option>
          </mat-autocomplete>
        </div>

      </div>
      <div class="row row-padding">
        <div class="col-4">Provider Type</div>
        <div class="col-4">
          <input type="text" class="form-control" maxlength="13" id="providerType" formControlName="providerType">
          <div *ngIf="f.providerType.touched && f.providerType.invalid" class="alert alert-danger">
            <div *ngIf="f.providerType.errors && f.providerType.errors.required">Provider type is required.</div>
            <div *ngIf="f.providerType.errors && f.providerType.errors.pattern">Enter alphabet.</div>
          </div>
        </div>
      </div>
    </div>

    <button class="btn btn-primary" type="submit" [disabled]="!airlineForm.valid">Update Airline</button>
  </form>
</div>

