<div class="container">
  <form  >
    <div class="row row-padding">
      <div class="col-4">Provider Name</div>
      <div class="col-4">
        <input type="text" class="form-control" maxlength="10" id="providerName">
      </div>
    </div>
    <div class="row row-padding">
      <div class="col-4">Provider Code</div>
      <div class="col-4">
        <input type="text" class="form-control" readonly maxlength="3" id="providerCode">
      </div>
    </div>
    <div class="row row-padding">
      <div class="col-4">Provider Type</div>
      <div class="col-4">
        <input type="text" class="form-control" maxlength="13" id="providerType">
      </div>
    </div>
    <div class="row row-padding">
      <div class="col-4">
        <button type="submit" class="btn btn-primary" (click)="createAirline()">Add Airline</button>
      </div>
    </div>
  </form>
</div>



