<h1>Welcome to airline</h1>
<form>
  <div class="form-group form-inline">
    Filter by provider code:
    <input class="form-control ml-2" type="text" name="searchProviderCode" [(ngModel)]="searchProviderCode"
           (input)="search($event)" />
  </div>
</form>
<div class="table-responsive-md">
  <table class="table table-bordered text-align">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Provider Code</th>
        <th scope="col">Provider Name</th>
        <th scope="col">Provider Type</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let airline of airlines">
        <td>{{airline.providerCode}}</td>
        <td>{{airline.providerName}}</td>
        <td>{{airline.providerType}}</td>
      </tr>
    </tbody>
  </table>
</div>
